[submodule "wx-app"]
	path = wx-app
	url = https://github.com/gonsin/wx-app
[submodule "eladmin-demo"]
	path = eladmin-demo
	url = https://github.com/Gonsin/eladmin-demo.git
[submodule "dubbo-demo"]
	path = dubbo-demo
	url = https://github.com/Gonsin/dubbo-demo.git
[submodule "interest-demo"]
	path = interest-demo
	url = https://github.com/Gonsin/interest-demo.git
[submodule "myblogvue"]
	path = myblogvue
	url = https://github.com/Gonsin/myblogvue.git
[submodule "vue_mockjs"]
	path = vue_mockjs
	url = https://github.com/Gonsin/vue_mockjs.git
[submodule "vue.js2.X-elementUI"]
	path = vue.js2.X-elementUI
	url = https://github.com/Gonsin/vue.js2.X-elementUI.git
